
.mobile-strategy-bg1{
    background-image: url("../images1/Mobile\ strategy\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.mobile-strategy-bg2{
    background-image: url("../images1/Mobile\ strategy\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.mobile-strategy-bg3{
    background-image: url("../images1/Mobile\ strategy\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.mobile-strategy-bg4{
    background-image: url("../images1/Mobile\ strategy\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.mobile-strategy-bg5{
    background-image: url("../images1/Mobile\ strategy\ page\ 5.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}






.digital-strategy-bg1{
    background-image: url("../images1/Digital\ strategy\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.digital-strategy-bg2{
    background-image: url("../images1/Digital\ strategy\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.digital-strategy-bg3{
    background-image: url("../images1/Digital\ strategy\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.digital-strategy-bg4{
    background-image: url("../images1/Digital\ strategy\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}


.product-strategy-bg1{
    background-image: url("../images1/Product\ strategy\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-strategy-bg2{
    background-image: url("../images1/Product\ strategy\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-strategy-bg3{
    background-image: url("../images1/Product\ strategy\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}





.social-media-man-bg1{
    background-image: url("../images1/Social\ media\ management\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.social-media-man-bg2{
    background-image: url("../images1/Social\ media\ management\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.social-media-man-bg3{
    background-image: url("../images1/Social\ media\ management\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.social-media-man-bg4{
    background-image: url("../images1/Social\ media\ management\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}


.ugc-bg1{
    background-image: url("../images1/UGC\ videos\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ugc-bg2{
    background-image: url("../images1/UGC\ videos\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}






.ad-network-bg1{
    background-image: url("../images1/Ad\ networks\ &\ RTBS\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ad-network-bg2{
    background-image: url("../images1/Ad\ networks\ &\ RTBS\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ad-network-bg3{
    background-image: url("../images1/Ad\ networks\ &\ RTBS\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}



.influencer-market-bg1{
    background-image: url("../images1/Influencer\ marketing\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.influencer-market-bg2{
    background-image: url("../images1/Influencer\ marketing\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.influencer-market-bg3{
    background-image: url("../images1/Influencer\ marketing\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.influencer-market-bg4{
    background-image: url("../images1/Influencer\ marketing\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.influencer-market-bg5{
    background-image: url("../images1/Influencer\ marketing\ page\ 5.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.influencer-market-bg6{
    background-image: url("../images1/Influencer\ marketing\ page\ 6.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}



.email-market-bg1{
    background-image: url("../images1/Email\ marketing\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.email-market-bg2{
    background-image: url("../images1/Email\ marketing\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.email-market-bg3{
    background-image: url("../images1/Email\ marketing\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.email-market-bg4{
    background-image: url("../images1/Email\ marketing\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}


.ott-market-bg1{
    background-image: url("../images1/OTT\ marketing\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ott-market-bg2{
    background-image: url("../images1/OTT\ marketing\ page\ 6.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}







.seo-bg1{
    background-image: url("../images1/SEO\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg2{
    background-image: url("../images1/SEO\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg3{
    background-image: url("../images1/SEO\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg4{
    background-image: url("../images1/SEO\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg5{
    background-image: url("../images1/SEO\ page\ 5.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg6{
    background-image: url("../images1/SEO\ page\ 6.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg7{
    background-image: url("../images1/SEO\ page\ 7.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg8{
    background-image: url("../images1/SEO\ page\ 8.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg9{
    background-image: url("../images1/SEO\ page\ 9.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.seo-bg10{
    background-image: url("../images1/SEO\ page\ 10.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}





.app-store-op-bg1{
    background-image: url("../images1/ASO\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.app-store-op-bg2{
    background-image: url("../images1/ASO\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.app-store-op-bg3{
    background-image: url("../images1/ASO\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.app-store-op-bg4{
    background-image: url("../images1/ASO\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.app-store-op-bg5{
    background-image: url("../images1/ASO\ page\ 5.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.app-store-op-bg6{
    background-image: url("../images1/ASO\ page\ 6.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}


.conversion-rate-op-bg1{
    background-image: url("../images1/CRO\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.conversion-rate-op-bg2{
    background-image: url("../images1/CRO\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.conversion-rate-op-bg3{
    background-image: url("../images1/CRO\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}




.aso-local-bg1{
    background-image: url("../images1/ASO\ localization\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.aso-local-bg2{
    background-image: url("../images1/ASO\ localization\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.aso-local-bg3{
    background-image: url("../images1/ASO\ localization\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}








.product-consult-bg1{
    background-image: url("../images1/Product\ consulting\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-consult-bg2{
    background-image: url("../images1/Product\ consulting\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-consult-bg3{
    background-image: url("../images1/Product\ consulting\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-consult-bg4{
    background-image: url("../images1/Product\ consulting\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-consult-bg5{
    background-image: url("../images1/Product\ consulting\ page\ 5.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.product-consult-bg6{
    background-image: url("../images1/Product\ consulting\ page\ 6.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}





.ui-ux-bg1{
    background-image: url("../images1/UI\ &\ UX\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ui-ux-bg2{
    background-image: url("../images1/UI\ &\ UX\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ui-ux-bg3{
    background-image: url("../images1/UI\ &\ UX\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ui-ux-bg4{
    background-image: url("../images1/UI\ &\ UX\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ui-ux-bg5{
    background-image: url("../images1/UI\ &\ UX\ page\ 5.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.ui-ux-bg6{
    background-image: url("../images1/UI\ &\ UX\ page\ 6.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}



.web-dev-bg1{
    background-image: url("../images1/Web\ development\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.web-dev-bg2{
    background-image: url("../images1/Web\ development\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.web-dev-bg3{
    background-image: url("../images1/Web\ development\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.web-dev-bg4{
    background-image: url("../images1/Web\ development\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}


.digital-trans-bg1{
    background-image: url("../images1/Digital\ transformation\ page\ 1.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.digital-trans-bg2{
    background-image: url("../images1/Digital\ transformation\ page\ 2.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.digital-trans-bg3{
    background-image: url("../images1/Digital\ transformation\ page\ 3.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.digital-trans-bg4{
    background-image: url("../images1/Digital\ transformation\ page\ 4.webp")!important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}