


.carousel-control-prev:hover{
    color: #c3317d!important;
}

.carousel-control-next:hover{
    color: #c3317d!important;
}

.carousel-control-prev-icon:hover{
    color: #c3317d!important;
}

.carousel-control-next-icon:hover{
    color: #c3317d!important;
}